WORDPRESS_DB_USER="wordpress"
WORDPRESS_DB_PASSWORD="mysuperstrongpassword"
WORDPRESS_DB_NAME="wordpress"

# By default the database host is set to the service name of the database container
WORDPRESS_DB_HOST="mariadb:3306"